<div class="side-bar nav">
  <div class="profile-card">
    <div class="header mb-5">
      <h4>Bille Ibinabo</h4>
      <h6>billeibinabo@gmail.com</h6>
    </div>
<!--    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Bille Ibinabo">-->
    <div class="navbar-nav">
      <a class="nav-link text-white text-justify" routerLinkActive="active" routerLink="/welcome">
        Add Location
      </a>
      <a class="nav-link text-white text-justify" routerLinkActive="active" routerLink="/locations">
        Delivery Locations
      </a>
      <a class="nav-link text-white text-justify" routerLinkActive="active" routerLink="/delivery-fee">
        Delivery Fee
      </a>
      <a class="nav-link text-white text-justify d-block d-lg-none" (click)="logout()" href="javascript:void(0)">Logout</a>
    </div>
  </div>


</div>
